<launch>
    <param name="robot_description" command="cat $(find my_rb1_description)/urdf/my_rb1_robot.urdf"/>

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" required="true" output="screen"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" required="true" output="screen"/>

    <node name="rviz" pkg="rviz" type="rviz" required="true" output="screen" args="-d $(find my_rb1_description)/rviz/display.rviz"/>
</launch>
